@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="alert alert-info">
									<i class="icon-hand-right"></i>

									配置管理列表.
									<button class="close" data-dismiss="alert">
										<i class="icon-remove"></i>
									</button>
								</div>
                                 
                                <div class="row">
                                     
                                    <div class="nav-search" style="position:inherit; padding-left: 18px; top: 0px; right: 0px;">
							            
								            <span class="input-icon">
									            <input type="text" placeholder="姓名或账号" class="nav-search-input" id="search-input-key" autocomplete="off">
									            <i class="icon-search nav-search-icon"></i>
								            </span>
							           
						            </div>
                                </div>    
                                  

                                <table class="table">
                                    <tr>
                                        <td>
                                       
                                            <button onclick="dialogModalAdd(this,'@Url.Action("Add")')"  id="add" class="btn btn-xs btn-success " title="添加">
												<i class="icon-ok bigger-140"></i> 
                                                添加
											</button>
                                           <button onclick="dialogModalEdit(this,'@Url.Action("Edit")')" id="edit"  class="btn btn-xs  btn-info " title="编辑">
												<i class="icon-edit bigger-140  "></i>
											 编辑
											</button>
                                            <button onclick="dilogModalDelet('@Url.Action("Delete")')" class="btn  btn-danger btn-xs " id="del" title="删除">
												<i class="icon-trash bigger-140  "></i>
												删除
											</button>
                                             
                                        </td>
                                    </tr>
                                </table>
                                 
								<table id="grid-table"  ></table>
                                 
                               
                              
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
 
@section scripts{
<script type="text/javascript">
     
    jQuery(function ($) {
        var grid_selector = "#grid-table";
        //文本框改变执行查询
        $("#search-input-key").change(function () {
            $(grid_selector).flexReload();
        });
        
       
        
        $(grid_selector).flexigrid({
            colModel: [
                { display: '<input type="checkbox" id="checkAll" onclick="checkAll()"/>', name: 'check', width: 50, sortable: false, align: 'center', hide: false },
                { display: '类型Key ', name: 'type', sortable: true, align: 'center' },
                { display: '显示名称 ', name: 'name', sortable: true, align: 'center' },
                { display: '内容值 ', name: 'name_cn', sortable: true, align: 'center' },
                { display: '是否启用 ', name: 'is_lock', sortable: true, align: 'center' }
            
            ], 
            height: 300, //flexigrid插件的高度，单位为px
            width: 'auto', //宽度值，auto表示根据每列的宽度自动计算，在IE6下建议设置具体值否则会有问题
            striped: true, //是否显示斑纹效果，默认是奇偶交互的形式
            
            minwidth: 30, //列的最小宽度
            minheight: 80, //列的最小高度
            resizable: false, //resizable table是否可伸缩
            url: '@Url.Action("List")', //ajax url,ajax方式对应的url地址
            method: 'POST', // data sending method,数据发送方式
            dataType: 'json', // type of data loaded,数据加载的类型，xml,json
            errormsg: '发生错误', //错误提升信息
            usepager: true, //是否分页
            nowrap: true, //是否不换行
            page: 1, //current page,默认当前页
            
            useRp: true, //use the results per page select box,是否可以动态设置每页显示的结果数
            rp: 10, // results per page,每页默认的结果数
            rpOptions: [10, 15, 20, 25, 40, 100], //可选择设定的每页结果数
           // title: "权限列表", //是否包含标题
            pagestat: '显示记录从{from}到{to}，总数 {total} 条', //显示当前页和总页面的样式
            procmsg: '正在处理数据，请稍候 ...', //正在处理的提示信息
            query: getSearchForm, //搜索查询的条件
            //qtype: '', //搜索查询的类别
           // qop: "Eq", //搜索的操作符
            nomsg: '没有符合条件的记录存在', //无结果的提示信息
            
            showToggleBtn: false, //是否允许显示隐藏列，该属性有bug设置成false点击头脚本报错。
            hideOnSubmit: true, //是否在回调时显示遮盖
            showTableToggleBtn: false, //是否显示【显示隐藏Grid】的按钮
            autoload: true ,//自动加载，即第一次发起ajax请求
            sortname: "ID",
            sortorder: "asc",
             
        });
    });
     
    
    //获取查询条件
    function getSearchForm()
    {
        return $('#search-input-key').val();
    }

        </script>
    }
